* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: Plus Jakarta Sans;
  font-weight: bold;
}

.side_div {
  background-color: #73c91c;
  height: 99.9vh;
}

.row h1 {
  margin-top: 20rem;
  letter-spacing: 2px;
  color: rgb(238, 238, 238);
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

.row h2 {
  color: rgb(238, 238, 238);
  text-align: center;
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

.form-floating {
  font-size: 1.3rem;
  position: fixed;
  text-align: center;
  top: 400px;
  left: 170px;
  width: 600px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  z-index: 9999;
}
