@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size-base;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 10%);
  }
}
