$primary-color: #fd4900;
$secondary-color: #7cc928;
$text-color: #333;
$background-color: #fff;

$font-main: "Roboto", sans-serif;
$font-heading: "Montserrat", sans-serif;

$font-size-base: 1rem;
$border-radius: 0.5rem;
