@import "../css/materialize.min.css";

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

@import "global";
@import "header";
@import "login";
@import "../css/gol_page.css";
@import "../css/index.css";
@import "../css/overview.css";
@import "../css/new_goal.css";
@import "../css/quotation.css";
